<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details of Selected Superhero</title>
</head>
<body>

    <h1>{{specific_superhero.name}}</h1>
    <h1>{{specific_superhero.alter_ego}}</h1>
    <h1>{{specific_superhero.primary_ability}}</h1>
    <h1>{{specific_superhero.secondary_ability}}</h1>
    <h1>{{specific_superhero.catchphrase}}</h1>

</body>
</html>